<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - WanderfulWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>MapTheFuture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MapTheFutureTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WanderfulWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E68942221BFD357400FF5415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68942381BFD357400FF5415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D431831C247B20002A0422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6ED66E91BFE3FE100EAC9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6ED66F91BFE3FE100EAC9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
